---
title: React.js Starter Kit
component: ContentPage
---
div.row
  div.col-sm-4
    h3 <img src="appIcon@2x.png" width="30" height="30" />&nbsp;Zebra Alphabet
    dl
      dt <a href="https://itunes.apple.com/app?id=978101271">Click Download Now</a>
      dd <img src="scan_to_download@2x.png" width="150" height="150" />
      dd Swipe(four directions: up, down, left, right) on the board to move all pieces. same pieces merge into one higher letter when they touched. 
      dd The game organized by levels, and the final goals is go through whole Alphabet to get Z for A.
      dd You don't have to worry about losing your current game or level, because the game will be stored on your device automatically.

